//Cart
.cart-text{
    margin: 0;
    margin-bottom: 30px;
}

.empty-cart-text{
    margin-bottom: 80%;
}

.element-container{
    border-radius: 3px;
    padding: 5px 0 0 15px;
    margin-right: 50px;
    min-width: 850px;
    &__header{
        display: flex;
        flex-direction: row;
        justify-content: start;
        margin-bottom: 10px;
        
    }
    hr{
        
       
    }
    
}
.header{
    &__checking{
        display: flex;
        flex-direction: row;
        p{
            font-size: 16px;
            margin-bottom: 0;
            line-height: 2;
        }
        input[type=checkbox]{
            width: 15px;
            margin: 0;
            margin-right: 5px;
            padding: 0;
        }
        &:first-child{
            margin-right: 40px;
        }
    }
}

.cart-container{
    display: flex;
    flex-direction: row;
}
    