.product-item{
    &__footer{
        display: flex;
        justify-content: row;
        align-items: flex-start;
    }
}

.header{
    &__img{
        width: 300px;
        height: 250px;
        object-fit: contain;
    }
}

.add-btn{
    align-items: flex-start;
    width: 108px;
}